@font-face {
    font-family: "CeraPro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff") format("woff");
}

@font-face {
    font-family: "CeraPro";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff");
}

@font-face {
    font-family: "CeraPro";
    font-style: normal;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/CeraPro-Light.woff2") format("woff2"), url("../fonts/CeraPro-Light.woff") format("woff");
}

@font-face {
    font-family: "CeraPro";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/CeraPro-Light.woff2") format("woff2"), url("../fonts/CeraPro-Light.woff") format("woff");
}

@font-face {
    font-family: "CeraPro";
    font-style: normal;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.page {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    font-style: normal;
    font-family: "CeraPro", Arial, sans-serif;
}

.header {
    color: #1e1744;
    &__top {
        padding: 20px 1% 0;
        margin-bottom: 44px;
    }
    &__nav {
        overflow-x: auto;
    }
    &__top-nav {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 1900px) {
            justify-content: space-between;
            flex-direction: row;
            align-items: top;
        }
    }
    &__top-menu {
        display: flex;
        justify-content: center;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        margin-bottom: 26px;
        max-width: 420px;
        flex-wrap: wrap;
        gap: 10px;
        @media (min-width: 768px) {
            max-width: 768px;
        }
        @media (min-width: 1280px) {
            margin-right: 130px;
            max-width: 100%;
        }
    }
    &__top-item {
        margin-right: 26px;
        &:last-child {
            margin-right: 0;
        }
        @media (min-width: 1280px) {
            margin-right: 55px;
        }
    }
    &__top-link {
        color: #1e1744;
        &:hover {
            text-decoration: underline;
        }
    }
    &__hr {
        border: 1px solid #f2f2f2;
    }
    &__bottom-item {
        margin-right: 35px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__bottom-nav {
        display: flex;
        justify-content: space-between;
        padding: 26px 4%;
        align-items: center;

        flex-direction: column;
        @media (min-width: 1800px) {
            padding: 44px 4%;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__bottom-menu {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        @media (min-width: 1800px) {
            margin-bottom: 0;
        }
    }
    &__logo {
        margin-right: 26px;
        margin-bottom: 20px;
        @media (min-width: 1800px) {
            margin-bottom: 0;
        }
    }
    &__decoration {
        text-decoration: underline;
    }
    &__bottom-link {
        color: #1e1744;
        font-size: 16px;
        line-height: 15px;
        font-weight: 500;
        display: inline-block;
        &:hover {
            text-decoration: underline;
        }
    }
    &__main {
        background-image: url(../img/back.jpg);
        background-size: cover;
        padding-top: 0;
        @media (min-width: 600px) {
            padding-top: 10%;
        }
    }
    &__bottom {
        &-content {
            display: flex;
            flex-wrap: wrap;
            @media (min-width: 600px) {
                padding-left: 41px;
            }
        }
        &-row {
            max-width: 560px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            @media (min-width: 768px) {
                flex-wrap: nowrap;
            }
        }
        &-block {
            background-color: #fff;
            padding: 25px 50px 25px 0;
        }
        &-info {
            font-size: 27px;
            line-height: 21px;
            font-weight: 500;
            color: #fff;
            width: 100%;
            text-align: center;
            @media (min-width: 768px) {
                width: auto;
            }
            @media (min-width: 1280px) {
                text-align: start;
            }
            &:hover {
                text-decoration: underline;
            }

            &_dark {
                background-color: #1e1744;
                padding: 60px 114px;
            }
            &_red {
                padding: 60px 48px;
                background-color: #f40808;
            }
            &_white {
                padding: 49px 20px;
                background-color: #fff;
                color: #282144;
            }
        }
    }
    &__block {
        &-content {
            border-left: 1px solid #ded9d9;

            padding: 5px 0 4px 30px;
        }
        &-text {
            font-size: 17px;
            font-weight: 400;
            color: #1e1744;
            margin-top: 15px;
        }
        &-link {
            font-size: 16px;
            line-height: 16px;
            color: #3d5695;
            font-weight: 500;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.contacts {
    color: #1e1744;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding-bottom: 26px;
    flex-direction: column;

    @media (min-width: 768px) {
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;
    }
    &__icon {
        margin-right: 7px;
    }
    &__number {
        color: #1e1744;
        font-size: 18px;
        line-height: 19px;
        font-weight: 700;
        margin-right: 46px;
        margin-bottom: 16px;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    &__place {
        margin-bottom: 16px;
        @media (min-width: 768px) {
            margin-right: 35px;
            margin-bottom: 0;
        }

        &-text {
            color: #1e1744;
        }
        &:last-child {
            margin-right: 50px;
        }
        &:hover {
            text-decoration: underline;
        }
        &-text {
            display: inline;
        }
    }
}
.lang {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #1e1744;
    &:hover {
        text-decoration: underline;
    }
}
.order {
    display: flex;
    align-items: center;
    justify-content: center;
    &__link {
        color: #ffffff;
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        padding: 14px 42px;
        background-color: #f40808;
        &:hover {
            transition-duration: 500ms;
            background-color: #d41e1e;
        }
    }
    &__phone {
        padding: 12px;
        border: 1px solid #1e1744;
        margin-right: 21px;
        position: relative;
        top: 3px;
        &:hover {
            background-color: #f2f0f0;
            transition-duration: 500ms;
        }
    }
}

.slider {
    padding: 21px 41px 0 21px;
    max-width: 560px;
    background-color: #ffffff;
    @media (min-width: 600px) {
        margin-left: 41px;
    }
    &__content {
        font-size: 38px;
        line-height: 40px;
        font-weight: 300;
        width: 100%;
        height: auto;
    }
    &__block {
        margin-bottom: 19px;
        max-width: 560px;
        height: 320px;
    }
    &__num {
        padding: 0 25px;
    }
    &__big-num {
        font-size: 36px;
    }
    &__small-num {
        font-style: 16px;
    }
    &__buttons {
        padding-bottom: 19px;
        display: flex;
        align-items: center;
    }
    &__arrow {
        font-size: 16px;
        border: 1px solid rgba(30, 23, 68, 0.3);
        padding: 10px 15px;
        border-radius: 50%;
        &:hover {
            border: 1px solid #1e1744;
            cursor: pointer;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        margin-left: -20px;
        &-link {
            font-size: 16px;

            color: #fff;
            padding: 17px 20px;
            border: 2px solid #fff;
            border-radius: 50%;
        }
        &-wrapper {
            width: 82px;
            height: 77px;
            background-color: #1e1744;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-img {
            width: 72px;
            height: 66px;
        }
    }
}
